

body
{
width:100%;
height:auto;
padding:2%;
padding-left:2%;
padding-right:0px;
margin:0px;
margin-right:0px;
}

.col img
{
	width:100%;
}

.bgimg
{
	max-height:70%;
	overflow:hidden;
	height:auto;
}

.bgimg img
{
	width:auto;
	height:100%;
}

.action
{
	position:absolute;
	top:20px;
	margin-bottom:0px;
}

.dp
{
	margin-top:-150px;
	margin-right:-15px;
}

.dp img
{
	padding:20px;
	
}

.bor
{
	border:10px solid white;
	border-radius:50%;
	overflow:hidden;
}

.details
{
	text-align:center;
}

.social
{
	
}

.social ul
{
	padding:0px;
	font-size:2.5em;
	
}


.social li
{
	list-style:none;
	display:inline-block;
	padding:50px;
	font-size:150%;
}

.prj
{
	padding-top:50px;
	padding-bottom:50px;
	margin-top:30px;
	padding-left:10%;
	padding-right:7%;
}

.prj > .row
{
	background-color:#f2f2f2;
	padding:30px;
	margin-top:20px;	
	}

.prj li
{
	list-style:none;
	padding:0px;
}

.prjlogos img
{
	height:50px;
	max-width:50px;
	padding:5px;
	border-radius:50%;
}

.prj li span
{
	float:right;
}


.prjlogos span
{
	font-size:200%;
	margin-top:20px;
}

.prj .row p
{
	padding-left:5%;
	padding-right:5%;
	padding-top:5px;
	padding-bottom:5px;
	margin:0px;
}

.pics img 
{
	margin-bottom:20px;
}

.pics .btn
{
		float:right;
		padding:10px;
		margin:10px;
}

.prjdef
{
	padding-top:30px;	
}

#articles li
{
	border:2px solid transparent;
}

#articles li:hover
{
	border:2px solid grey;	
}

#articles span
{
	line-height:100%;
	vertical-align:middle;
	text-align:left;
	font-size:150%;
	margin-top:30px;
}
